body {
    background: rgb(224, 142, 142);
    margin-left: 200px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h1 {
    color: red;
    font-family: fantasy;
    margin-bottom: 3px;
}

h2 {
    font-family: cursive;
    margin-bottom: 3px;
}

p {
    font-size: 18px;
    margin-top: 3px;
}

.img_padrao {
    margin-bottom: 50px;
    width: 300px;
}

.icone {
    width: 30px;
}

footer {
    margin-top: 200px;
    text-align: right;
}